
mixin video(name, videoUrl)
  .ctr-video
    iframe(id=`${name}Video`, src=videoUrl, frameborder="0", allow="autoplay; encrypted-media", allowfullscreen)
    div(class="ctr-videoCover" id=`${name}VideoCover`)
      div(class="bgImg" id=`${name}Img`)
      .playCircle
      include ./../img/icon-play-90px.pug


mixin cSpotlightInfo(name, info)
  .cSpotlightInfo
    h5 #{name}
    p.subCopy #{info}

//- mixin infoBox(position, name, location, marTop)
//-   div(class=`ctr-infoBox ${marTop}`)
//-     .accent
//-     .ctr-upper
//-       p.bold #{position}
//-       h5.roboto #{name}
//-     .ctr-lower
//-       include ./../img/icon-locationPin.pug
//-       p.subCopy #{location}